@font-face {
  font-family: lato;
  src: url(./lato/Lato-Regular.ttf);
}

@font-face {
  font-family: victory;
  src: url(./victory-striker-sans-demo/Victory\ Striker\ Sans\ Demo.otf);
}

@font-face {
  font-family: kind;
  src: url(./gotham_uJ50q/Gotham/Gotham\ Medium/Gotham\ Medium.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #faf3eb;
}

.container {
  background-color: #faf3eb;
  height: 95%;
  width: 98%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

nav {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

nav .left {
  /* background-image: url("./logo.png"); */
  height: 100%;
  width: 10%;
  /* background-color: pink; */
  background-image: url("./logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 33%;
  /* background-color: rebeccapurple; */
}

nav .mid {
  display: flex;
  gap: 60px;
  font-family: "retro-floral";
  align-items: center;
  /* background-color: rebeccapurple; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav .mid h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
}

nav .mid h2:hover {
  padding: 3px;
  color: #006800;
  border-bottom: 3px dotted #006800;
  border-width: 10%;
  font-weight: 900;
}

nav .right {
  border: 1.1px solid black;
  height: 70%;
  width: 22%;
  border-radius: 50px;
  position: relative;
  /* background-color: rebeccapurple; */
}

nav .right .search {
  font-size: 25px;
  color: #e4b050;
  position: absolute;
  top: 27%;
  left: 6%;
  cursor: pointer;
}

nav .right input {
  font-family: "DM Sans", sans-serif;
  background-color: transparent;
  border: 0;
  position: absolute;
  left: 0;
  top: 50%;
  left: 44%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}

input:focus {
  outline: none;
}

nav .right .bag {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 27%;
  right: 6%;
}

nav .right .line {
  border: 1.1px solid black;
  width: 1px;
  height: 50%;
  font-size: 25px;

  position: absolute;
  top: 28%;
  right: 20%;
}

nav .right .noti {
  background-color: #c73a3a;
  padding: 6px 9px;
  border-radius: 6px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(5%, -25%);
  font-style: normal;
}

main {
  /* background-color: #f1cea5; */
  height: 63%;
  width: calc(100% - 60px);
  transform: translateX(-50%);
  position: relative;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .left {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .real {
  background-color: #e8ebd5;
  height: 40px;
  width: 35%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 0px 10px;
  border: 2px solid #6a8c3a;
}

main .real p {
  font-family: "kind";
  font-weight: 100;
  font-size: 14px;
  color: #6a8c3a;
}

main .real i {
  color: #6a8c3a;
}

main h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 85px;
  line-height: 90px;
}

main h1 span {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 85px;
  color: #355e28;
}

main .desc {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

main .cart {
  background-color: black;
  width: 33%;
  height: 60px;
  display: flex;
  padding: 0px 10px;
  border-radius: 50px;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  transition: all 0.3s ease;
}

main .cart:hover {
  transform: scale(1.1);
}

main .cart i {
  font-size: 25px;
  background-color: #f5ce7a;
  padding: 8px;
  border-radius: 50px;
}

main .cart h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: white;
}

main .quantity {
  height: 60px;
  width: 22%;
  background-color: #fffcf7;
  border: 2px solid black;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 10px;
  border: 0;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

main .quantity h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  color: #b34b4e;
}

main .quantity .line {
  width: 0.5px;
  height: 40%;
  background-color: black;
}

main .quantity i {
  font-size: 20px;
}
main .quantity .minus {
  color: blue;
  font-weight: 600;
  cursor: pointer;
}

main .quantity .plus {
  color: #355e28;
  font-weight: 600;
  cursor: pointer;
}

main .options {
  display: flex;
  gap: 60px;
}

main .feat {
  display: flex;
  gap: 10px;
}

main .left .features {
  display: flex;
  gap: 50px;
}
main .features i {
  font-size: 30px;

  border-radius: 50%;

  padding: 3px;
}

.leaf {
  color: green;
  border: 2px solid green;
}

.fire {
  color: #dea049;
  border: 2px solid #dea049;
}

.heart {
  color: #c94040;
  border: 2px solid #c94040;
}

main .features h2 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}
main .features p {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
}

main .features .title {
  display: flex;
  flex-direction: column;
}

main .right {
  /* background-color: crimson; */
  height: 100%;
  width: 50%;
}

main .right .features {
  display: flex;
  flex-direction: column;
  /* background-color: gainsboro; */
  width: fit-content;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}

main .right .features i {
  height: 70px;
  width: 70px;
}
main .right .features i img {
  height: 40px;
}

main .right .features .chilli {
  background-color: #355e28;
  padding: 15px;
}

main .right .features .calories {
  background-color: #cc373a;
  padding: 15px;
}

main .right .features .smoke {
  background-color: #ffb940;
  padding: 15px;
}

main .right .features .hr {
  background-color: white;
  border-left: 5px dotted orange;
  background-color: transparent;
  height: 50px;
  width: 1px;
  position: relative;
  left: 32px;
  z-index: -1;
}

main .right .title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer {
  width: calc(90%);
  background-color: #2b5c3e;
  height: 25%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: -1;
}

footer .navigation {
  height: 70%;
  width: 10%;
  position: relative;
}

footer .item {
  background-color: #faf3eb;
  height: 70%;
  width: 20%;
  position: relative;
  border-radius: 20px;
}

footer h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 22px;
  margin-bottom: 5px;
}

footer .navigation i {
  background-color: white;
  font-size: 21px;
  padding: 13px;
  border-radius: 50%;
  color: #2b5c3e;
}

footer .navigation .left-arrow {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

footer .navigation .right-arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

footer .item h4 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

footer .item .desc {
  /* background-color: cadetblue; */
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .item img {
  height: 20px;
  width: fit-content;
  position: relative;
  left: -5px;
}

footer .item p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

footer .item button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border: 0;
  background-color: #d92733;
  padding: 10px 15px;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  color: #faf3eb;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

i:hover {
  transform: scale(1.1);
}

footer .item small {
  position: absolute;
  top: 42px;
  right: 30px;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
}

footer .item .product1 {
  position: absolute;
  height: 160px;
  left: -20px;
  bottom: -10px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

footer .item .product2 {
  position: absolute;
  height: 160px;
  left: -20px;
  bottom: -10px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

footer .item .product3 {
  position: absolute;
  height: 205px;
  left: -40px;
  bottom: -32px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.big {
  height: 550px;
  width: 550px;
  /* background-color: red; */
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.big .cirle {
  background-color: #e8ebd5;
  height: 600px;
  width: 600px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  border: 30px solid transparent;
  background:
    linear-gradient(#e8ebd5, #e8ebd5) padding-box,
    linear-gradient(45deg, transparent 550px, #dddddd) border-box;
}

.big img {
  position: absolute;
  z-index: 1;
  height: 550px;
  transform: rotate(-8deg);
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.big .crisp {
  position: absolute;
  height: 250px;
  left: -130px;
  top: 200px;
  bottom: 30%;
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.5));
}
